* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --bg: #0b101d;

  --card: #1e293b;

  --primary: #e39af5;

  --text: #ffffff;

  --text-light: #94a3b8;
}

.navbar {
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  border-bottom: 0px solid var(--primary);
  position: fixed;
  gap: 4rem;
  width: 100%;
  box-shadow: inset 0 0 30px #ff9eea;
  z-index: 9999;
}
.logo a {
  font-weight: 900;
  color: var(--text);
}
.navbar a {
  color: var(--primary);
  text-decoration: none;
}
.navbar ul {
  text-decoration: none;
}
.nav-links {
  display: flex;
  gap: 4vw;
}
.nav-button a {
  background-color: var(--primary);
  color: var(--text);
  padding: 1vw;
  border-radius: 2vw;
  font-size: 1.5vw;
  box-shadow: inset 0 0 30px #cd2a99;
}
/* =========================
   Active Navigation Link
========================= */

.nav-links a {
  color: var(--primary);
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: var(--text);
}

.nav-links a.active {
  color: var(--text);
  font-weight: 600;
  position: relative;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: var(--primary);
}
@keyframes fadeUp {
  from {
    opacity: 0;

    transform: translateY(40px);
  }

  to {
    opacity: 1;

    transform: translateY(0);
  }
}
#home {
  background: #05010ac7;
  color: var(--text);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2vw;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}
.hero-content h1 {
  color: var(--primary);
  text-shadow: 0px 1px 40px #cd2a99;
  font-size: 3rem;
  animation: fadeUp 1s ease forwards;
}
.hero-content p {
  font-size: 2rem;
}

.hero-buttons {
  display: flex;
  gap: 2vw;
}
.hero-buttons a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5 rem;
}
.btn1 {
  background-color: var(--bg);
  border: 1px solid var(--primary);
  padding: 1vw;
  border-radius: 2vw;
}
.btn2 {
  background-color: var(--primary);
  padding: 1vw 2vw;
  border-radius: 2vw;
  box-shadow: inset 0 0 30px #e5519c;
}
.hero-image img {
  margin: 2rem;
  width: 20vw;
  height: 30vw;
  border-radius: 50%;
  border: 2px solid var(--primary);
  object-fit: cover;
  box-shadow: 0 0 30px #bc3699;
  transition: 0.35s ease;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.hero-image img:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 50px #ad59de;
}

#typing {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 600;
}

/* ==========================
        HERO STATS
========================== */

.hero-stats {
  display: flex;

  gap: 25px;

  margin-top: 45px;

  flex-wrap: wrap;
}

.stat-card {
  min-width: 130px;

  padding: 22px;

  text-align: center;

  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(227, 154, 245, 0.25);

  border-radius: 18px;

  backdrop-filter: blur(12px);

  transition: 0.35s ease;

  cursor: pointer;
}

.stat-card:hover {
  transform: translateY(-10px);

  border-color: var(--primary);

  box-shadow: 0 0 25px rgba(227, 154, 245, 0.45);
}

.stat-card h3 {
  color: var(--primary);

  font-size: 2rem;

  margin-bottom: 8px;
}

.stat-card p {
  color: var(--text-light);

  font-size: 0.95rem;

  letter-spacing: 0.5px;
}

.stat-card::before {
  content: "";

  position: absolute;

  inset: 0;

  border-radius: 18px;

  background: linear-gradient(135deg, rgba(227, 154, 245, 0.15), transparent);

  opacity: 0;

  transition: 0.4s;
}

.stat-card:hover::before {
  opacity: 1;
}

.stat-card {
  position: relative;

  overflow: hidden;
}
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#about {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}
.about-content {
  line-height: 2.5vw;
}
.about-content h2 {
  padding-bottom: 10vh;
}
.about-container {
  height: 100%;
  width: 70%;
  background-color: var(--bg);
  border: 1px solid var(--text-light);
  padding: 2vw;
  display: flex;
  flex-direction: column;
  border-radius: 2vw;
  box-shadow: 0 0 20px #ff1ecf;
}

h2 {
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(0deg, #5d2bd0, #eb73af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: fadeUp 1s ease forwards;
}

#skills {
  background: var(--bg);
  color: white;
  padding: 100px 8%;
}

.skills-container h2 {
  text-align: center;
  font-size: 3rem;
  color: linear-gradient(90deg, #8b5cf6, #ec4899);
  margin-bottom: 20px;
}

.skills-subtitle {
  text-align: center;
  color: #cbd5e1;
  max-width: 700px;
  margin: 0 auto 60px;
  line-height: 1.8;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.skill-card {
  background: #131d32;
  border: 1px solid rgba(227, 154, 245, 0.35);
  border-radius: 20px;
  padding: 30px;
  transition: 0.4s;
  width: 23rem;
  height: 26rem;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(227, 154, 245, 0.4);
}

.skill-card h3 {
  color: white;
  margin-bottom: 35px;
  font-size: 1.2rem;
}

.skill-card h3 i {
  color: var(--primary);
  margin-right: 10px;
}

.skill {
  margin-bottom: 28px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.skill-info span:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
}

.skill-info i {
  font-size: 30px;
}

.html {
  color: #e34c26;
}

.css {
  color: #1572b6;
}

.js {
  color: #f7df1e;
}

.git {
  color: #f1502f;
}

.github {
  color: white;
}

.java {
  color: #007396;
}

.react {
  color: #61dafb;
}

.progress {
  height: 8px;
  background: #2b344b;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #8b5cf6, #ec4899);
  border-radius: 20px;
}

.html-bar {
  width: 95%;
}
.css-bar {
  width: 90%;
}
.js-bar {
  width: 75%;
}
.responsive-bar {
  width: 90%;
}
.git-bar {
  width: 90%;
}
.github-bar {
  width: 95%;
}
.vscode-bar {
  width: 95%;
}
.dsa-bar {
  width: 65%;
}
.java-bar {
  width: 55%;
}
.react-bar {
  width: 40%;
}

h3 {
  color: #bcebff;
  text-shadow: 0 5px 10px #000000;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3.7vw;
}

ul {
  list-style: none;
}
/* =========================
   EDUCATION SECTION
========================= */

#education {
  background: var(--bg);
  padding: 100px 8%;
}

.education-container {
  max-width: 1400px;
  margin: auto;
}

.education-container h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 60px;

  background: linear-gradient(90deg, #8b5cf6, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.education-grid {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 40px;
}

.education-card {
  background: #131d32;
  border: 1px solid rgba(227, 154, 245, 0.35);
  border-radius: 20px;
  padding: 35px;
  transition: 0.4s;
}

.education-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 30px rgba(227, 154, 245, 0.35);
}

.education-card h3 {
  color: var(--primary);
  margin-bottom: 35px;
  font-size: 1.7rem;
}

/* =========================
      Timeline
========================= */

.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 23px;
  top: 10px;
  width: 3px;
  height: 100%;
  background: linear-gradient(#8b5cf6, #ec4899);
}

.timeline-item {
  display: flex;
  gap: 25px;
  margin-bottom: 45px;
}

.timeline-icon {
  width: 48px;
  height: 48px;
  background: linear-gradient(135deg, #8b5cf6, #ec4899);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;

  flex-shrink: 0;

  box-shadow: 0 0 20px rgba(227, 154, 245, 0.5);
}

.timeline-content h4 {
  color: white;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.timeline-content p {
  color: #cbd5e1;
  margin-bottom: 10px;
  line-height: 1.7;
}

.timeline-content strong {
  color: white;
}

/* =========================
   Highlight Cards
========================= */

.highlight-card {
  background: #1d2944;
  border-left: 4px solid var(--primary);
  padding: 18px;
  border-radius: 12px;
  color: white;
  margin-bottom: 18px;
  transition: 0.3s;
}

.highlight-card:hover {
  transform: translateX(8px);
  background: #25365a;
}

/* =========================
   Learning Tags
========================= */

.learning-title {
  margin-top: 40px;
}

.learning-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 25px 0;
}

.learning-tags span {
  background: linear-gradient(135deg, #8b5cf6, #ec4899);
  color: white;
  padding: 12px 18px;
  border-radius: 30px;
  font-size: 15px;
  transition: 0.3s;
}

.learning-tags span:hover {
  transform: scale(1.08);
}

/* =========================
   Career Goal
========================= */

.career-goal {
  margin-top: 40px;
  background: #1d2944;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid rgba(227, 154, 245, 0.25);
}

.career-goal h3 {
  color: var(--primary);
  margin-bottom: 15px;
}

.career-goal p {
  color: #cbd5e1;
  line-height: 1.8;
}

/* =========================
      Responsive
========================= */

@media (max-width: 992px) {
  .education-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  #education {
    padding: 80px 5%;
  }

  .education-container h2 {
    font-size: 2.5rem;
  }

  .education-card {
    padding: 25px;
  }

  .timeline-item {
    gap: 18px;
  }

  .timeline-icon {
    width: 42px;
    height: 42px;
    font-size: 18px;
  }

  .learning-tags {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .education-container h2 {
    font-size: 2rem;
  }

  .timeline-content h4 {
    font-size: 1.1rem;
  }

  .timeline-content p {
    font-size: 14px;
  }

  .learning-tags span {
    width: 100%;
    text-align: center;
  }
}

/* =========================
   EXPERIENCE
========================= */

#experience {
  background: var(--bg);
  padding: 100px 8%;
}

.experience-container {
  max-width: 1200px;
  margin: auto;
}

#experience h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;

  background: linear-gradient(90deg, #8b5cf6, #ec4899);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-subtitle {
  text-align: center;
  color: #cbd5e1;

  max-width: 700px;

  margin: 0 auto 70px;

  line-height: 1.8;
}

.experience-timeline {
  position: relative;
}

.experience-timeline::before {
  content: "";

  position: absolute;

  left: 32px;

  top: 0;

  width: 4px;

  height: 100%;

  background: linear-gradient(#8b5cf6, #ec4899);
}

.experience-card {
  display: flex;

  gap: 30px;

  margin-bottom: 60px;

  position: relative;
}

.experience-icon {
  width: 65px;

  height: 65px;

  background: linear-gradient(135deg, #8b5cf6, #ec4899);

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  color: white;

  font-size: 25px;

  flex-shrink: 0;

  box-shadow: 0 0 20px rgba(227, 154, 245, 0.5);

  z-index: 2;
}

.experience-content {
  flex: 1;

  background: #131d32;

  border: 1px solid rgba(227, 154, 245, 0.35);

  border-radius: 20px;

  padding: 30px;

  transition: 0.4s;
}

.experience-content:hover {
  transform: translateY(-8px);

  box-shadow: 0 0 25px rgba(227, 154, 245, 0.35);
}

.experience-date {
  color: var(--primary);

  font-size: 0.95rem;

  font-weight: 600;
}

.experience-content h3 {
  color: white;

  margin: 12px 0 5px;
}

.experience-content h4 {
  color: #cbd5e1;

  margin-bottom: 20px;
}

.experience-content p {
  color: #bfc9d9;

  line-height: 1.8;

  margin-bottom: 20px;
}

.experience-content ul {
  margin-bottom: 25px;
}

.experience-content li {
  color: #d1d5db;

  margin-bottom: 12px;

  position: relative;

  padding-left: 18px;
}

.experience-content li::before {
  content: "▸";

  position: absolute;

  left: 0;

  color: var(--primary);
}

.tech-stack {
  display: flex;

  flex-wrap: wrap;

  gap: 12px;
}

.tech-stack span {
  background: linear-gradient(135deg, #8b5cf6, #ec4899);

  color: white;

  padding: 8px 16px;

  border-radius: 30px;

  font-size: 14px;

  transition: 0.3s;
}

.tech-stack span:hover {
  transform: scale(1.08);
}

/* =========================
      Responsive
========================= */

@media (max-width: 768px) {
  .experience-timeline::before {
    left: 22px;
  }

  .experience-card {
    gap: 18px;
  }

  .experience-icon {
    width: 45px;
    height: 45px;

    font-size: 18px;
  }

  .experience-content {
    padding: 22px;
  }

  #experience {
    padding: 80px 5%;
  }

  #experience h2 {
    font-size: 2.5rem;
  }
}
/* =====================================
        PROJECTS SECTION
===================================== */

#projects {
  background: var(--bg);

  color: var(--text);

  min-height: 100vh;

  padding: 100px 8%;
}

.projects-container {
  max-width: 1300px;

  margin: auto;
}

.section-heading {
  text-align: center;

  margin-bottom: 70px;
}

.section-heading h2 {
  font-size: 3rem;

  color: var(--primary);

  margin-bottom: 20px;
}

.section-heading p {
  color: var(--text-light);

  max-width: 700px;

  margin: auto;

  line-height: 1.8;
}

.projects-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  gap: 40px;
}

.project-card {
  height: 340px;
  background: rgba(255, 255, 255, 0.04);

  border: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(15px);

  border-radius: 20px;

  overflow: hidden;

  transition: 0.4s;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.project-card:hover {
  transform: translateY(-12px);

  border-color: var(--primary);
  overflow: visible;
  height: 600px;

  box-shadow: 0 0 30px rgba(227, 154, 245, 0.45);
}

.featured {
  border: 2px solid var(--primary);

  position: relative;
}

.project-image {
  overflow: hidden;
  margin: 20px;
  border: 1px solid var(--primary);
  border-radius: 20px;
}

.project-image img {
  width: 100%;

  height: 220px;

  object-fit: cover;

  transition: 0.5s;
}

.project-card:hover .project-image img {
  transform: scale(1.08);
}

.project-content {
  padding: 28px;
}

.project-content h3 {
  font-size: 1.5rem;

  margin: 15px 0;

  color: var(--text);
}

.project-content p {
  color: var(--text-light);

  line-height: 1.8;

  margin-bottom: 25px;
  display: none;
}

.project-badge {
  display: inline-block;

  background: linear-gradient(90deg, #8b5cf6, #ec4899);

  color: white;

  padding: 8px 18px;

  border-radius: 30px;

  font-size: 0.85rem;

  font-weight: 600;
}
.tech-stack {
  display: flex;

  flex-wrap: wrap;

  gap: 12px;

  margin: 25px 0;
}

.tech-stack span {
  display: flex;

  align-items: center;

  gap: 8px;

  padding: 10px 18px;

  border-radius: 50px;

  background: rgba(227, 154, 245, 0.08);

  border: 1px solid rgba(227, 154, 245, 0.4);

  color: var(--primary);

  font-size: 0.9rem;

  font-weight: 600;

  transition: 0.35s;

  cursor: default;
}

.tech-stack span:hover {
  background: var(--primary);

  color: #fff;

  transform: translateY(-3px);

  box-shadow: 0 0 15px rgba(227, 154, 245, 0.45);
}

.tech-stack i {
  font-size: 1rem;
}

.project-buttons {
  display: flex;

  gap: 15px;
}

.project-buttons a {
  flex: 1;

  text-align: center;

  padding: 14px;

  border-radius: 12px;

  text-decoration: none;

  transition: 0.3s;

  font-weight: 600;
}
.project-buttons a:first-child {
  border: 1px solid var(--primary);

  color: var(--primary);
}

.project-buttons a:first-child:hover {
  background: var(--primary);

  color: white;
}

.project-buttons a:last-child {
  background: linear-gradient(90deg, #8b5cf6, #ec4899);

  color: white;
}

.project-buttons a:last-child:hover {
  transform: scale(1.05);

  box-shadow: 0 0 25px rgba(236, 72, 153, 0.45);
}

.project-buttons i {
  margin-right: 8px;
}

/*==========================
CONTACT
==========================*/

#contact {
  padding: 90px 8%;
  background: var(--bg);
}

.contact-container {
  max-width: 1200px;
  margin: auto;
}

.contact-heading {
  text-align: center;
  margin-bottom: 45px;
}

.contact-heading h2 {
  font-size: 3rem;

  background: linear-gradient(90deg, #8b5cf6, #ec4899);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-heading p {
  margin-top: 15px;

  color: #bfc9d9;

  max-width: 650px;

  margin-inline: auto;

  line-height: 1.7;
}

.contact-wrapper {
  display: grid;

  grid-template-columns: 320px 1fr;

  gap: 28px;

  align-items: start;
}

/*==================
PROFILE CARD
==================*/

.profile-card {
  background: #131d32;

  padding: 25px;

  border-radius: 20px;

  border: 1px solid rgba(227, 154, 245, 0.25);

  text-align: center;

  transition: 0.4s;
}

.profile-card:hover {
  transform: translateY(-8px);

  box-shadow: 0 0 25px rgba(227, 154, 245, 0.3);
}

.profile-card img {
  width: 110px;
  height: 110px;

  border-radius: 50%;

  object-fit: cover;

  border: 3px solid var(--primary);

  margin-bottom: 18px;
}

.profile-card h3 {
  color: white;
  margin-bottom: 5px;
}

.role {
  color: #bfc9d9;
  font-size: 0.95rem;
}

.availability {
  margin: 18px auto;

  display: inline-flex;

  align-items: center;

  gap: 10px;

  padding: 8px 18px;

  border-radius: 40px;

  background: #1d2944;

  font-size: 14px;

  color: white;
}

.dot {
  width: 10px;
  height: 10px;

  background: #22c55e;

  border-radius: 50%;

  box-shadow: 0 0 12px #22c55e;
}

.profile-details {
  margin-top: 20px;

  display: flex;

  flex-direction: column;

  gap: 14px;

  text-align: left;

  color: #d5d9e5;
}

.profile-details div {
  display: flex;

  align-items: center;

  gap: 12px;
}

.profile-details i {
  color: var(--primary);
}

.skills {
  margin-top: 22px;

  display: flex;

  flex-wrap: wrap;

  gap: 8px;

  justify-content: center;
}

.skills span {
  padding: 7px 14px;

  border-radius: 30px;

  font-size: 13px;

  background: linear-gradient(90deg, #8b5cf6, #ec4899);

  color: white;
}

.socials {
  display: flex;

  justify-content: center;

  gap: 18px;

  margin-top: 25px;
}

.socials a {
  width: 45px;
  height: 45px;

  display: flex;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

  background: #1d2944;

  color: white;

  font-size: 18px;

  transition: 0.35s;
}

.socials a:hover {
  background: linear-gradient(90deg, #8b5cf6, #ec4899);

  transform: translateY(-5px);
}

.quote {
  margin-top: 22px;

  font-size: 0.9rem;

  color: #bfc9d9;

  font-style: italic;
}

/*==================
FORM
==================*/

.contact-card {
  background: #131d32;

  padding: 30px;

  border-radius: 20px;

  border: 1px solid rgba(227, 154, 245, 0.25);
}

.contact-card h3 {
  color: white;

  margin-bottom: 10px;
}

.contact-card p {
  color: #bfc9d9;

  margin-bottom: 22px;

  line-height: 1.6;
}

.contact-card form {
  display: grid;

  gap: 16px;
}

.contact-card input,
.contact-card textarea {
  padding: 14px 18px;

  background: #1d2944;

  border: 1px solid #334155;

  border-radius: 12px;

  color: white;

  font-size: 15px;

  outline: none;

  transition: 0.3s;
}

.contact-card input:focus,
.contact-card textarea:focus {
  border-color: var(--primary);

  box-shadow: 0 0 12px rgba(227, 154, 245, 0.35);
}

.contact-card textarea {
  resize: none;
}

.contact-card button {
  margin-top: 5px;

  width: 220px;

  padding: 14px;

  border: none;

  border-radius: 35px;

  background: linear-gradient(90deg, #8b5cf6, #ec4899);

  color: white;

  font-size: 16px;

  cursor: pointer;

  transition: 0.35s;
}

.contact-card button:hover {
  transform: translateY(-4px);

  box-shadow: 0 0 20px rgba(236, 72, 153, 0.45);
}

.reply {
  display: block;

  margin-top: 18px;

  color: #94a3b8;

  font-size: 14px;
}

.error {
  color: #ff4d6d;

  font-size: 13px;

  margin-top: -10px;

  margin-bottom: 5px;

  display: block;
}

.success {
  color: #22c55e;

  text-align: center;

  margin-top: 20px;

  font-weight: 600;
}

.input-error {
  border: 2px solid #ff4d6d !important;
}

.input-success {
  border: 2px solid #22c55e !important;
}
/*==================
Responsive
==================*/

@media (max-width: 900px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  .profile-card {
    max-width: 380px;

    margin: auto;
  }

  .contact-card {
    margin-top: 20px;
  }
}

.form-group {
  line-height: 4vw;
  display: flex;
  flex-direction: column;
}
.form-group input,
textarea {
  width: 30vw;
}
.container button {
  margin-top: 2vw;
  background-color: var(--primary);
  padding: 1vw 2vw;
  border-radius: 2vw;
  box-shadow: inset 0 0 30px #e5519c;
}
#footer {
  background: var(--bg);
  color: var(--text);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border: 1px dotted var(--bg);
  background-color: var(--bg);
  font-weight: 00;
  box-shadow: inset 0 0 300px #ff1ecf;
}
.footer-brand h2 {
  color: var(--bg);
  font-weight: 100;
  font-size: 2rem;
}
.footer-container {
  display: flex;
  padding: 2rem 4rem;
  gap: 6rem;
  line-height: 1.5rem;
}
.social-icons {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--text);
}
.footer-bottom {
  display: flex;
  margin-left: 5rem;
}

/* ============================
        CUSTOM CURSOR
============================ */

body {
  cursor: none;
}

.cursor {
  width: 10px;
  height: 10px;

  border: 2px solid #e39af5;

  border-radius: 50%;

  position: fixed;

  pointer-events: none;

  transform: translate(-50%, -50%);

  transition:
    width 0.25s,
    height 0.25s,
    transform 0.15s,
    background 0.25s;

  z-index: 9999;

  box-shadow:
    0 0 12px #e39af5,
    0 0 30px #e39af5;
}

.cursor-dot {
  width: 8px;
  height: 8px;

  background: #e39af5;

  border-radius: 50%;

  position: fixed;

  pointer-events: none;

  transform: translate(-50%, -50%);

  z-index: 9999;
}

/* =========================
   Scroll To Top Button
========================= */

#scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: var(--primary);
  color: var(--text);
  cursor: pointer;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;
  z-index: 1000;
}

#scrollTopBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px var(--primary);
}

#scrollTopBtn.show {
  opacity: 1;
  visibility: visible;
}
/* --------------------------------
    MOBILE RESPONSIVE
-------------------------------- */
@media (max-width: 768px) {
  /* Navbar */

  .navbar {
    display: flex;
    flex-direction: column;

    gap: 0.6rem;
    padding: 10px;
    font-size: 0.5rem;
  }

  .nav-links {
    font-size: 0.5rem;
    align-items: center;
    gap: 20px;
  }
  .nav-button {
  }

  .nav-button a {
    font-size: 16px;
    padding: 1.5px 11px;
    font-size: 0.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }

  /* Hero */

  #home {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    font-size: 0.8rem;
    width: 100%;
    padding-top: 5rem;
  }

  .hero-content {
    align-items: center;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  .hero-content h2 {
    font-size: 24px;
  }

  .hero-content p {
    font-size: 10px;
  }

  .hero-buttons {
    flex-direction: column;
    width: 30%;
  }

  .hero-buttons a {
    font-size: 8px;
  }

  .btn1,
  .btn2 {
    width: 100%;
    text-align: center;
  }

  .hero-image img {
    width: 40%;
    height: auto;
    margin-bottom: 30px;
    object-fit: cover;
  }

  .hero-stats {
    justify-content: center;

    gap: 18px;
  }

  .stat-card {
    width: 140px;
  }

  /* About */

  .about-container {
    gap: 30px;
    padding: 25px;
    font-size: 13px;
  }

  .about-content {
    line-height: 1.8rem;
  }

  /* Skills */

  .skills-container {
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
    gap: 20px;
    font-size: 0.9rem;
  }
  .skill-card {
    width: 97%;
  }
  .skills-category ul {
    flex-direction: row;
    gap: 2rem;
    padding-left: 20px;
    font-size: 0.7rem;
  }
  .skills-grid {
    grid-template-columns: 1fr;
  }
  /* Education */

  #education {
    flex-direction: column;
  }

  .education-card {
    line-height: 1.8;
  }

  .education-highlights ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* Contact */
  .container {
    padding: 1.5rem;
    gap: 1.4rem;
    font-size: 0.8rem;
  }
  .form-group input,
  .form-group textarea {
    width: 60%;
    margin-bottom: 1rem;
  }

  .container button {
    width: 40%;
    padding: 14px;
  }

  /* Footer */

  #footer {
    padding: 10px 10px;
    font-size: 0.5rem;
  }

  .footer-container {
    display: flex;

    gap: 20px;
    line-height: 1rem;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    margin: 20px 0;
  }

  .footer-bottom {
    text-align: center;
  }
}

@media (max-width: 768px) {
  body {
    cursor: auto;
  }

  .cursor,
  .cursor-dot {
    display: none;
  }
}

/* =========================
      TABLET
========================= */

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 20px;
  }

  .nav-links {
    gap: 10px;
  }

  .nav-button a {
    font-size: 15px;
  }

  #home {
    flex-direction: column;
    text-align: center;
    padding: 50px;
    padding-top: 5rem;
  }

  .hero-image img {
    width: 320px;
    margin-top: 40px;
    height: 400px;
  }

  .hero-content h1 {
    font-size: 50px;
  }

  .hero-content h2 {
    font-size: 28px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-category ul {
    flex-wrap: wrap;
    gap: 20px;
  }

  .form-group input,
  .form-group textarea {
    width: 50%;
  }

  .footer-container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .section-heading h2 {
    font-size: 2.4rem;
  }

  .project-buttons {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #projects {
    padding: 80px 20px;
  }

  .section-heading h2 {
    font-size: 2rem;
  }

  .project-content {
    padding: 20px;
  }
}
