* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --bg: #0b101d;

  --card: #1e293b;

  --primary: #e39af5;

  --text: #ffffff;

  --text-light: #94a3b8;
}

.navbar {
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  border-bottom: 0px solid var(--primary);
  position: fixed;
  gap: 4rem;
  width: 100%;
  box-shadow: inset 0 0 30px #ff9eea;
}

.navbar a {
  color: var(--primary);
  text-decoration: none;
}
.navbar ul {
  text-decoration: none;
}
.nav-links {
  display: flex;
  gap: 4vw;
}
.nav-button a {
  background-color: var(--primary);
  color: var(--text);
  padding: 1vw;
  border-radius: 2vw;
  font-size: 1.5vw;
  box-shadow: inset 0 0 30px #cd2a99;
}
/* =========================
   Active Navigation Link
========================= */

.nav-links a {
  color: var(--primary);
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: var(--text);
}

.nav-links a.active {
  color: var(--text);
  font-weight: 600;
  position: relative;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: var(--primary);
}
#home {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2vw;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}
.hero-content h1 {
  color: var(--primary);
  text-shadow: 0px 1px 40px #cd2a99;
  font-size: 3rem;
}

.hero-buttons {
  display: flex;
  gap: 2vw;
}
.hero-buttons a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5vw;
}
.btn1 {
  background-color: var(--bg);
  border: 1px solid var(--primary);
  padding: 1vw;
  border-radius: 2vw;
}
.btn2 {
  background-color: var(--primary);
  padding: 1vw 2vw;
  border-radius: 2vw;
  box-shadow: inset 0 0 30px #e5519c;
}
.hero-image img {
  margin: 2rem;
  width: 20vw;
  height: 30vw;
  border-radius: 50%;
  border: 2px solid var(--primary);
  object-fit: cover;
  box-shadow: 0 0 30px #bc3699;
}
#about {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}
.about-content {
  line-height: 2.5vw;
}
.about-content h2 {
  padding-bottom: 10vh;
}
.about-container {
  height: 100%;
  background-color: var(--bg);
  border: 1px solid var(--text-light);
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 8vw;
  border-radius: 2vw;
  box-shadow: 0 0 20px #ff1ecf;
}
.personal-info {
  background-color: var(--text-light);
  padding: 2vw;
  height: 50vh;
}
h2 {
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(0deg, #5d2bd0, #eb73af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#skills {
  background: var(--bg);
  color: white;
  padding: 100px 8%;
}

.skills-container h2 {
  text-align: center;
  font-size: 3rem;
  color: linear-gradient(90deg, #8b5cf6, #ec4899);
  margin-bottom: 20px;
}

.skills-subtitle {
  text-align: center;
  color: #cbd5e1;
  max-width: 700px;
  margin: 0 auto 60px;
  line-height: 1.8;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.skill-card {
  background: #131d32;
  border: 1px solid rgba(227, 154, 245, 0.35);
  border-radius: 20px;
  padding: 30px;
  transition: 0.4s;
  width: 23rem;
  height: 26rem;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(227, 154, 245, 0.4);
}

.skill-card h3 {
  color: white;
  margin-bottom: 35px;
  font-size: 1.2rem;
}

.skill-card h3 i {
  color: var(--primary);
  margin-right: 10px;
}

.skill {
  margin-bottom: 28px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.skill-info span:first-child {
  display: flex;
  align-items: center;
  gap: 12px;
}

.skill-info i {
  font-size: 30px;
}

.html {
  color: #e34c26;
}

.css {
  color: #1572b6;
}

.js {
  color: #f7df1e;
}

.git {
  color: #f1502f;
}

.github {
  color: white;
}

.java {
  color: #007396;
}

.react {
  color: #61dafb;
}

.progress {
  height: 8px;
  background: #2b344b;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #8b5cf6, #ec4899);
  border-radius: 20px;
}

.html-bar {
  width: 95%;
}
.css-bar {
  width: 90%;
}
.js-bar {
  width: 75%;
}
.responsive-bar {
  width: 90%;
}
.git-bar {
  width: 90%;
}
.github-bar {
  width: 95%;
}
.vscode-bar {
  width: 95%;
}
.dsa-bar {
  width: 65%;
}
.java-bar {
  width: 55%;
}
.react-bar {
  width: 40%;
}
/* #skills {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw;
}
.skills-container {
  line-height: 4vw;
}
.skills-category ul {
  gap: 6vw;
  display: flex;
  padding-left: 3vw;
  text-decoration: none;
}
.skills-category li {
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 0.2rem 1rem;
  box-shadow: inset 0 0 10px #ff1ecf;
} */

h3 {
  color: #bcebff;
  text-shadow: 0 5px 10px #000000;
}
#education {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 3.7vw;
}
.education-card {
  line-height: 3vw;
}
.education-highlights {
  line-height: 3.5vh;
  gap: 2vw;
}
.education-highlights li {
  padding: 2vw;
  background-color: var(--bg);
  border-radius: 2vw;
  box-shadow: 0 0 30px #ff1ecf;
  margin: 0.4rem;
}
ul {
  list-style: none;
}

/* =====================================
        PROJECTS SECTION
===================================== */

#projects {
  background: var(--bg);

  color: var(--text);

  min-height: 100vh;

  padding: 100px 8%;
}

.projects-container {
  max-width: 1300px;

  margin: auto;
}

.section-heading {
  text-align: center;

  margin-bottom: 70px;
}

.section-heading h2 {
  font-size: 3rem;

  color: var(--primary);

  margin-bottom: 20px;
}

.section-heading p {
  color: var(--text-light);

  max-width: 700px;

  margin: auto;

  line-height: 1.8;
}

.projects-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  gap: 40px;
}

.project-card {
  height: 340px;
  background: rgba(255, 255, 255, 0.04);

  border: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(15px);

  border-radius: 20px;

  overflow: hidden;

  transition: 0.4s;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.project-card:hover {
  transform: translateY(-12px);

  border-color: var(--primary);
  overflow: visible;
  height: 600px;

  box-shadow: 0 0 30px rgba(227, 154, 245, 0.45);
}

.featured {
  border: 2px solid var(--primary);

  position: relative;
}

.project-image {
  overflow: hidden;
  margin: 20px;
  border: 1px solid var(--primary);
  border-radius: 20px;
}

.project-image img {
  width: 100%;

  height: 220px;

  object-fit: cover;

  transition: 0.5s;
}

.project-card:hover .project-image img {
  transform: scale(1.08);
}

.project-content {
  padding: 28px;
}

.project-content h3 {
  font-size: 1.5rem;

  margin: 15px 0;

  color: var(--text);
}

.project-content p {
  color: var(--text-light);

  line-height: 1.8;

  margin-bottom: 25px;
  display: none;
}

.project-badge {
  display: inline-block;

  background: linear-gradient(90deg, #8b5cf6, #ec4899);

  color: white;

  padding: 8px 18px;

  border-radius: 30px;

  font-size: 0.85rem;

  font-weight: 600;
}
.tech-stack {
  display: flex;

  flex-wrap: wrap;

  gap: 12px;

  margin: 25px 0;
}

.tech-stack span {
  display: flex;

  align-items: center;

  gap: 8px;

  padding: 10px 18px;

  border-radius: 50px;

  background: rgba(227, 154, 245, 0.08);

  border: 1px solid rgba(227, 154, 245, 0.4);

  color: var(--primary);

  font-size: 0.9rem;

  font-weight: 600;

  transition: 0.35s;

  cursor: default;
}

.tech-stack span:hover {
  background: var(--primary);

  color: #fff;

  transform: translateY(-3px);

  box-shadow: 0 0 15px rgba(227, 154, 245, 0.45);
}

.tech-stack i {
  font-size: 1rem;
}

.project-buttons {
  display: flex;

  gap: 15px;
}

.project-buttons a {
  flex: 1;

  text-align: center;

  padding: 14px;

  border-radius: 12px;

  text-decoration: none;

  transition: 0.3s;

  font-weight: 600;
}
.project-buttons a:first-child {
  border: 1px solid var(--primary);

  color: var(--primary);
}

.project-buttons a:first-child:hover {
  background: var(--primary);

  color: white;
}

.project-buttons a:last-child {
  background: linear-gradient(90deg, #8b5cf6, #ec4899);

  color: white;
}

.project-buttons a:last-child:hover {
  transform: scale(1.05);

  box-shadow: 0 0 25px rgba(236, 72, 153, 0.45);
}

.project-buttons i {
  margin-right: 8px;
}

#contact {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group {
  line-height: 4vw;
  display: flex;
  flex-direction: column;
}
.form-group input,
textarea {
  width: 30vw;
}
.container button {
  margin-top: 2vw;
  background-color: var(--primary);
  padding: 1vw 2vw;
  border-radius: 2vw;
  box-shadow: inset 0 0 30px #e5519c;
}
#footer {
  background: var(--bg);
  color: var(--text);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border: 1px dotted var(--bg);
  background-color: var(--bg);
  font-weight: 00;
  box-shadow: inset 0 0 300px #ff1ecf;
}
.footer-brand h2 {
  color: var(--bg);
  font-size: 1rem;
}
.footer-container {
  display: flex;
  padding: 2rem 4rem;
  gap: 6rem;
  line-height: 1.5rem;
}
.social-icons {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--text);
}
.footer-bottom {
  display: flex;
}

/* =========================
   Scroll To Top Button
========================= */

#scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: var(--primary);
  color: var(--text);
  cursor: pointer;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;
  z-index: 1000;
}

#scrollTopBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px var(--primary);
}

#scrollTopBtn.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  /* Navbar */

  .navbar {
    display: flex;
    flex-direction: column;

    gap: 0.6rem;
    padding: 10px;
    font-size: 0.5rem;
  }

  .nav-links {
    font-size: 0.5rem;
    align-items: center;
    gap: 20px;
  }
  .nav-button {
  }

  .nav-button a {
    font-size: 16px;
    padding: 1.5px 11px;
    font-size: 0.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }

  /* Hero */

  #home {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    font-size: 0.8rem;
    width: 100%;
    padding-top: 5rem;
  }

  .hero-content {
    align-items: center;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  .hero-content h2 {
    font-size: 24px;
  }

  .hero-content p {
    font-size: 10px;
  }

  .hero-buttons {
    flex-direction: column;
    width: 30%;
  }

  .hero-buttons a {
    font-size: 8px;
  }

  .btn1,
  .btn2 {
    width: 100%;
    text-align: center;
  }

  .hero-image img {
    width: 40%;
    height: auto;
    margin-bottom: 30px;
    object-fit: cover;
  }

  /* About */

  .about-container {
    gap: 30px;
    padding: 25px;
    font-size: 13px;
  }

  .about-content {
    line-height: 1.8rem;
  }

  .personal-info {
    height: auto;
  }

  /* Skills */

  .skills-container {
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
    gap: 20px;
    font-size: 0.9rem;
  }
  .skills-category ul {
    flex-direction: row;
    gap: 2rem;
    padding-left: 20px;
    font-size: 0.7rem;
  }
  .skills-grid {
    grid-template-columns: 1fr;
  }
  /* Education */

  #education {
    flex-direction: column;
  }

  .education-card {
    line-height: 1.8;
  }

  .education-highlights ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* Contact */
  .container {
    padding: 1.5rem;
    gap: 1.4rem;
    font-size: 0.8rem;
  }
  .form-group input,
  .form-group textarea {
    width: 60%;
    margin-bottom: 1rem;
  }

  .container button {
    width: 40%;
    padding: 14px;
  }

  /* Footer */

  #footer {
    padding: 10px 10px;
    font-size: 0.5rem;
  }

  .footer-container {
    display: flex;

    gap: 20px;
    line-height: 1rem;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    margin: 20px 0;
  }

  .footer-bottom {
    text-align: center;
  }
}

/* =========================
      TABLET
========================= */

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 20px;
  }

  .nav-links {
    gap: 10px;
  }

  .nav-button a {
    font-size: 15px;
  }

  #home {
    flex-direction: column;
    text-align: center;
    padding: 50px;
    padding-top: 5rem;
  }

  .hero-image img {
    width: 320px;
    margin-top: 40px;
    height: 400px;
  }

  .hero-content h1 {
    font-size: 50px;
  }

  .hero-content h2 {
    font-size: 28px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-category ul {
    flex-wrap: wrap;
    gap: 20px;
  }

  .form-group input,
  .form-group textarea {
    width: 50%;
  }

  .footer-container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .section-heading h2 {
    font-size: 2.4rem;
  }

  .project-buttons {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #projects {
    padding: 80px 20px;
  }

  .section-heading h2 {
    font-size: 2rem;
  }

  .project-content {
    padding: 20px;
  }
}
